body{
    background-color: black;

}

.time-container{
    height: 100%;
    width: 100%;
}
.period-counter{
    font-family: fantasy;
    font-size: 5vw;
    color: white;
    text-align: center;
}
.score-container{
    height: 100%;
    width: 100%;
    color: white;
    font-size: 9vw;
    font-family: fantasy;
}
p{
    font-size: 4vw;
}
#home-team{
    float: left;
    text-align: center;
}
#away-team{
    float: right;
    text-align: center;
}
#display{
    width: 100%;
    text-align: center;
    font-family: Orbitron;
    font-size: 10vw    ;
    color:gold;
}
.buttons{
    text-align: center;
    
}
button{
    background-color: gold;
    color: black;
    font-family: Orbitron;
}
#awayAddButton{
    display: block;
}
#homeAddButton{
    display: block;
}