body{
    background-color: black;

}

.time-container{
    height: 100%;
    width: 100%;
}
.quarter-counter{
    font-family: fantasy;
    font-size: 5vw;
    color: white;
    text-align: center;
}
.score-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 9vw;
    font-family: fantasy;
}

p{
    font-size: 4vw;
    margin: 0 auto;
}
#home-team{
    display: flex;
    flex-flow: column;
}
#away-team{
    display: flex;
    flex-flow: column;
    text-align: right;
}
#display{
    width: 100%;
    text-align: center;
    font-family: Orbitron;
    font-size: 10vw;
    color:gold;
}
.buttons{
    text-align: center;
    
}
.score-container button{
    width: 30px;
}
#add-buttons{
    display: flex;
    justify-content: space-between;
}
button{
    background-color: gold;
    color: black;
    font-family: Orbitron;
}
.fouls-container{
    display: flex;
    color:gold;
    font-family: fantasy;
    justify-content: space-around;
    text-align: center;
    font-size: 4vw;
}
#foul-buttons{
    display: flex;
    justify-content: space-around;
}