body{
    background-color: black;

}

.time-container{
    height: 500px;
    width: 100%;
}
#display{
    width: 100%;
    text-align: center;
    font-family: Orbitron;
    font-size: 200px;
    color:gold;
}
.buttons{
    text-align: center;
    
}
button{
    background-color: gold;
    color: black;
    font-family: Orbitron;
}